/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(217, 217, 217); */
    height: 100%;
  }

  .content-card{
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px 10px 50px 10px;
  }